<form method="get" action="http://www.google.com/search" class="form-inline" role="search" target="_blank">
	<div class="input-group">
		<input type="search" name="q" class="form-control" placeholder="Search...">
		<input type="hidden" name="q" value="site:{{@blog.url}}">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
		</span>
	</div>
</form>
