<a class="twitter-follow-button"
  href="https://twitter.com/DolphinsBahamas" data-show-count="false">
Follow @DolphinsBahamas</a>
<a width="100%" height="100%" class="twitter-timeline" href="https://twitter.com/DolphinsBahamas/lists/mdbw-feed" data-widget-id="627228126741942272" data-chrome="noheader nofooter noborders noscrollbar transparent" data-aria-polite="assertive">Relevant Miami Dolphins Tweets</a>
